footer.footer 
    .container 
        .footer__block 
            .footer__box 
                img.footer__logo(src="./images/logo.webp", alt="logo")
                a(href="tel:+88006001869").footer__contact 8(800)600-18-69
                a(href="mailto:info@cargoasia.info").footer__contact info@cargoasia.info
                p.footer__address Адрес в Китае:
                p.footer__address-info 浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379
                .footer__social 
                    .footer__social-media
                        img(src="./images/insta.webp", alt="instagram")
                    .footer__social-media
                        img(src="./images/web.webp", alt="web")
                    .footer__social-media
                        img(src="./images/telegram.webp", alt="telegram")
