section.slider
  .slider__info
    .container
      h1.slider__title Прямое КАРГО из Китая
      p.slider__text Доставляем любые грузы из Китая по честной цене
      button.slider__btn 
        span Рассчитать стоимость
        i.far
  .slider__inner
    .slider__item.active
      img.slider__img(src='./images/slider1.webp', alt='slider')
    .slider__item
      img.slider__img(src='./images/slider2.webp', alt='slider')
    .slider__item
      img.slider__img(src='./images/slider3.webp', alt='slider')
    .slider__item
      img.slider__img(src='./images/slider4.webp', alt='slider')
    .slider__item
      img.slider__img(src='./images/slider5.webp', alt='slider')
  button.slider__left(data-target='prev')
    i.far
  button.slider__right(data-target='next')
    i.far